{% extends 'base.html' %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/category.css' %}">
<div class="container-fluid">
  <div class="row">
    <div>
      <h4>Categories</h4>
      <div class="list-group" style="text-align: left;">
        {% for category in categories %}
          <a 
            href="{% url 'pets:category-detail' category.slug %}" 
            class="list-group-item list-group-item-action {% if category == selected_category %}active{% endif %}"
          >
            {{ category.category_name }}
          </a>
        {% endfor %}
      </div>
    </div>
    <!-- Main Content -->
    <div class="col-md-9 col-12">
      {% block category_content %}
      <h3>Please select a category</h3>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
